/* whole body */
* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
}
.wrapper {
    display: inline-flex;
    max-width: 100%;
    height: 100%;
}
/* img from left */
.bg {
    max-width: 63%;
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: hidden;
}
/* title */
h1 {
    margin: 0 10px 0 25px;
    font-family: Tahoma;
}
/* privacy notice */
p {
    margin: 0 0 7px 20px;
    padding: 10px;
    font-size:xx-small;
    width: 400px;
}
.bold {
    font-size:x-small
}
/* logo */
.IC {
    width: 90px;
    height: 90px;
}
/* upper portion */
.Inner-Up {
    display: inline-flex;
    margin: 0;
    width: 500px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.header {
    max-width: 100%;
    max-height: 100%;
}
/* The whole form */
form {
    margin: 0 auto;
    padding: 0;
}

/* Box mismo */
fieldset {
    margin: 0 auto;
    max-width: fit-content;
    min-height: fit-content;
    padding: 2rem 0;
    border-radius: 6px;
    border: 1.5px solid black;
    background-color: rgb(227, 228, 233);
}
/* Text before input text */
label {
    display: block;
    margin: 20px 0 0 10px;
    font-family: Tahoma;
}
/* input */
input{
    margin: 0 10px 0 10px;
    padding: 0 0 0 5px;
    width: 440px;
    height: 40px;
}

input:placeholder-shown {
    text-align: left;
    padding-left: 5px;
}

/* submit button*/
button {
    padding: 2px;
    position: relative;
    left: 42%;
    width: auto;
    background-color: white /*#d5d5d8*/;
    border-color: #d5d5d8;
    font-size: 1rem;
}
#msg {
    margin: 0;
    display: flex;
    justify-content: center;
}

.rightside {
    margin-top: 30px;
    max-width: 100%;
    max-height: 100%;
}
/*MEDIA QUERY FOR MOBILE RESPONSIVENESS */ 
@media (max-width: 480px) {
    .header {
        margin: 0;
        padding: 0;
        min-width: 50%;
    }
    fieldset {
        margin: 20px 10px 10px 10px;
        padding: auto;
    }
    .wrapper {
        width: 100%;
    }
}
@media (min-width: 390px) and (max-width: 475px) {
    .Inner-Up {
        width: 100%;
        height: 100%;
    }
    p {
        margin: 0;
    }
    form {
       margin: 0;
    }
    fieldset {
        margin: 5px;
        min-width: 300px;
    }
    input {
        max-width: 360px;
    }
}
